

body {
  background-image: url("sfondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: "Comic Sans MS";
    text-align: center;
    margin-top: 0%;
    text-shadow: 0 0 3px greenyellow, 0 0 3px greenyellow, 0 0 3px greenyellow, 0 0 3px 
}



li {
      font-size: 40px;
      text-align: center;
      color: blue;
      margin-left: -7%;
}

a{
  color: black;
}



.pizza {
  display: block;
  margin-left: 5px;
}

.spaghetti {
  margin-left: 5px;
  
}

.frittata {
   margin-left: 5px;
   height: 180px;
   width: 300px;
}

audio{
  position: absolute;
  bottom: 5%;
  right: 5%;
  flex: 1 1 auto;

}

p {
  font-size: 30px;
  color: black;
  font-weight: bolder;
  text-align: center;
  text-shadow: 0 0 3px greenyellow, 0 0 3px greenyellow, 0 0 3px greenyellow, 0 0 3px greenyellow;
  
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.txt-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    
}

.ut {
  font-size: 50px;
  padding: 90px;
  font-weight: bold;
  
}
