

body {
  background-image: url("sfondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    text-align: center;
    margin-top: 0%;
    text-shadow: 0 0 3px limegreen, 0 0 3px limegreen, 0 0 3px limegreen  , 0 0 3px 
}



li {
      font-size: 40px;
      text-align: center;
      color: blue;
      margin-left: -7%;
}


.container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.pizza {
  height: 180px;
  width: 300px;
 
}

.spaghetti {
  height: 180px;
  width: 300px;
}

.frittata {
   
   height: 180px;
   width: 300px;
}

audio{
  position: absolute;
  bottom: 5%;
  right: 5%;
  flex: 1;

}

p {
  font-size: 30px;
  color: black;
  font-weight: bolder;
  text-align: center;
  text-shadow: 0 0 3px greenyellow, 0 0 3px greenyellow, 0 0 3px greenyellow, 0 0 3px greenyellow;
  
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.txt-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    
}

.ut {
  font-size: 50px;
  padding: 90px;
  font-weight: bold;
  flex: 1;
  
}
