body {
  background-image: url("sfondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: "Comic Sans MS";
    text-align: center;
    margin-top: 0%;
}

.center {display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  width: 35%;
  height: auto; 



}

li {
      font-size: 40px;
      text-align: center;
      color: blue;
      margin-left: -7%;
}

a{
  color: black;
}

.pizza {
    position: absolute;
    top: 20%;
    width: 260px;
    height: auto;
}

.spaghetti {
    position: absolute;
   top: 20%;
   right: 5px;
   width: 260px;
   height: auto;
}